
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #EEEEEE;
$darkGray: #EEEEEE;
$gray: #EEEEEE;
$lightGray: #EEEEEE;
$white: #EEEEEE;
$yellow: #FFC90E;

// Font stacks
$helvetica: Noto sans, Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}