---
layout: default
---

<article class="post">
  <h2 class="text-primary font-weight-bold">
    {{ page.title }}
  </h2>

  <hr>

  <div class="entry">
    {{ content }}
  </div>
  
  <hr>
  
  <a href="/" class="btn btn-primary btn-lg">
    ver todos os posts
  </a>
  
  <hr>

  <div class="alert alert-info border border-info">
    Publicado em {{ page.date | date: "%e/%m/%Y" }} <!-- às {{ page.date | date: "%H:%M" }} -->
  </div>

  <!--
  <div class="jumbotron text-center">
     Para comentar ou oferecer sugestões, por favor 
     <a href="https://github.com/raphael-da-silva/raphael-da-silva.github.io/issues">abra uma issue</a> no repositório
     deste blog no github.
  </div>
  -->

  {% include disqus.html %}
</article>
